md-input-container label {
  pointer-events: none;
  user-select: none;
}

.help-block {
  user-select: none;
}

.md-chips {
  padding-left: 0px;
}

.md-chips .md-chip-input-container {
  padding: 0px 2px;
}

md-tab-content {
  padding-top: 40px;
}

form h4 {
  margin-bottom: 30px;
}

.card form .md-icon-float {
  &.md-input-focused, &.md-input-has-value {
    margin-top: -16px;
  }
}

.card md-input-container {
  padding: 0;
  margin-bottom: 20px;
}

small.help-block {
  margin-bottom: 0;
  height: 0;
  min-height: 0px;
  margin-top: 3px;

  span {display: block}
}


md-datepicker-container {
  label {
    color: rgba(0,0,0,0.54);
    transform: translate3d(65px, 6px, 0) scale(0.75);
    font-weight: bold;
  }

  md-datepicker {
    margin-top: 16px;
  }

  .help-block {
    padding-left: 70px;
    transform: translateY(-10px);
    color: rgb(213,0,0);
  }
}

md-input-container .md-input {
  position: relative;
  z-index: 10;
}

// forms
label {
  display: inline-block;
}

.help-block span {
  font-size: 12px;
  padding-right: 5px;
  padding-top: 5px;
  line-height: 14px;
}

.md-datepicker-container {
  margin: 18px 0 20px;

  label {
    color: rgba(0,0,0,0.54);
    transform: translate3d(65px, 6px, 0) scale(0.75);
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
  }

  md-datepicker {
    display: block;
    margin-top: -7px;
  }

  .help-block {
    padding-left: 64px;
    transform: translateY(-5px);
    color: rgb(213,0,0);
    display: block;
    transition: all .3s cubic-bezier(.55,0,.55,.2);
  }
}
