.btn-menu {
  width: 45px;
  height: 45px;
  background: none;
  border: 0;
  color: white;
  font-size: 25px;
  position: relative;
  outline: 0;

  i {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition: all .2s ease;

    &:first-child {
      font-size: 23px;
    }

    & + i {
      font-size: 30px;
      transform: translate3d(-50%, -50%, 0) rotate(-90deg);
      opacity: 0;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    border-radius: 50%;
    background: $primary-color-hue-1;
    transform: scale(.2);
    opacity: 0;
    transition: transform .2s ease, opacity .2s ease;
  }

  &.open {
    &:before {
      opacity: 1;
      transform: scale(1);
    }

    i {
        &:first-child {
        transform: translate3d(-50%, -50%, 0) rotate(90deg);
        opacity: 0;
      }

      & + i {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
        opacity: 1;
      }
    }
  }
}

.menu {
  position: fixed;
  background: #fff;
  box-shadow: 0 0 10px rgba(51,51,51,0.38);
  top: 0;
  height: calc(100% - 65px);
  transform: translate3d(-268px,0,0);
  z-index: 5;
  width: 268px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 64px;
  // opacity: 0;
  box-shadow: 0 0 10px rgba(51,51,51,0.38);
  transition: transform .3s ease, opacity .3s ease;

  @media only screen and (max-width: 600px) and (min-width: 0) and (orientation: portrait) {
    padding-top: 55px;
    height: calc(100% - 55px);
  }

  &.open {
    transform: translate3d(0,0,0);
    // opacity: 1;
  }

  .main-menu {
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding: 0;
    user-select: none;

    i {
      position: absolute;
      left: 16px;
      font-size: 20px;
      top: 50%;
      width: 25px;
      text-align: center;
      padding: 13px 0;
      transform: translate(0, -50%);
    }
  }

  .md-button {
    margin: 0;
    display: block !important;
    font-weight: 500;
    position: relative;
    padding: 10px 20px 10px 52px;
    text-align: left;

    &, .md-ripple-container {border-radius: 0 !important}
  }

  .active a {
    color: white;
    background-color: $primary-color-hue-1;

    &:hover, &:focus {
      color: white;
      background-color: $primary-color-hue-3 !important;
    }
  }

  a:focus, a:hover {
    color: $primary-color;
  }
}
