html, body {
  height: initial;
  -webkit-font-smoothing: antialiased;
  font-family: helvetica, sans-serif;
  background-color: #F9F9F9;
}

img {
  max-width: 100%;
}

$primary-color: rgb(233,30,99);
$primary-color-hue-1: #F06292;
$primary-color-hue-3: #FF80AB;
$hidden-color: silver;
$white-color: #fff;
$md-max-width: 599px;


@import 'header/header';
@import 'login/login';
@import 'menu/menu';
@import 'card/card';
@import 'form/form';
@import 'grid/grid';
@import 'list/list';
@import 'views/views';
@import 'search/search';
@import 'map/map';

