.login {
  min-height: 450px;
  height: 100vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  @media (max-device-width: $md-max-width) {
    height: calc(100vh - 70px);
  }

  .detail {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }

  md-card {
    position: relative;
    padding: 3em 3em 2em;
    max-width: 550px !important;


    @media (max-width: $md-max-width) {
      padding: 2em 1.2em 2.5em 1.5em;
      width: 85%;
    }
  }

  md-input-container {
    margin: 0;

    & + md-input-container {margin-top: 20px !important}
  }

  md-input-container md-icon {
    top: 7px !important;
  }

  .md-menu {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;

    .md-icon-button {
      color: white;
      font-size: 23px;
    }
  }

  .logo {
    position: absolute;
    top: -60px; left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 0 0;
    background: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 51px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  }

  button.md-fab {
    position: absolute;
    right: -30px;
    top: 50%;
    margin: -28px 0 0 -28px;
    font-size: 23px;

    @media (max-width: $md-max-width) {
      top: auto;
      bottom: 0;
      right: 10px;
      transform: translate(0, 50%);
    }
  }

  md-icon {
    font-size: 23px;
    transition: color .2s ease;
  }

 footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    padding: 0 10px;
    line-height: 40px;
    color: $hidden-color;
    font-size: .7em;

    a, span, button {
      margin-left: 10px;
    }
  }

  .alert {
    color: rgb(213,0,0);
    text-align: center;
    margin-top: 0px;
    position: absolute;
    bottom: -100px;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: showAlert .2s ease backwards;
  }

  @keyframes showAlert {
    0% {
      opacity: 0;
      transform: translate(-50%, -40%);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
}

.login {
  .detail {
    animation: enterDetail .7s cubic-bezier(.34,.22,.38,.94)
  }

  md-card {
    animation: enterCard .5s .27s ease backwards
  }

  .logo {
    animation: enterLogo .2s .7s cubic-bezier(.17,.67,.58,1.23) backwards
  }

  .show-after-enter {
    animation: showAfterEnter .8s .7s ease backwards;
  }
}

.login md-card h2 {
  font-weight: 500;
  font-size: 22px;
  margin-top: -20px;
  margin-bottom: 50px;
}

.state-signin [layout] > md-input-container+md-input-container {margin-top: 0 !important;}

@keyframes enterDetail {
  0% {
    transform: translateY(-60vh);
  }

  100% {
    transform: none;
  }
}

@keyframes enterCard {
  0% {
    opacity: 0;
    transform: translate3d(0, 150%, 0);
  }

  60% {
    opacity: 1
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes enterLogo {
  0% {
    transform: scale(.6) translate(-50%, -50%);
    opacity: 0;
  }

  75% {
    opacity: 1
  }

  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes showAfterEnter {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes hideAfterEnter {
  0% {opacity: 1}
  100% {opacity: 0}
}
